<h2>reactive-form-module works!</h2>

<body>



  <form [formGroup]="article" (ngSubmit)="onSubmit()">

    <label for="">
      designation:
      <input type="text" formControlName="designation">

      @if (submitted && form['designation'].invalid) {

      <span><strong> designation requise </strong></span>
      }

      @if (form['designation'].hasError('minlength')) {

      <span><strong> designation doit contenir au moins 3 caractères </strong></span>
      }



      <br>
    </label>

    <label for="">
      prix:
      <input type="number" formControlName="prix">

      @if (submitted && form['prix'].invalid){

      <span><strong> prix requis </strong></span>
      }
    </label>

    <button type="submit">ajouter</button>

  </form>

  @for (item of articles; track $index) {

  <p>{{item.designation}} - {{item.prix}}</p>

  }

  <p>total = {{totalPrice}} €</p>

</body>