<p>exoform-usercard-enfant1 works!</p>

<div class="card" style="width: 18rem">
  <img src="https://picsum.photos/200/200" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ user.nom }} {{ user.prenom }}</h5>
    <p class="card-text">description du User</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-user">nom : {{ user.nom }}</li>
    <li class="list-group-user">prenom : {{ user.prenom }}</li>
    <li class="list-group-user">age : {{ user.age }}</li>
  </ul>
</div>
