<h1>Demo</h1>

<!-- <app-first-component></app-first-component>
<app-liste></app-liste>
<app-user></app-user>
<app-alert-button></app-alert-button>
<app-liste-filtre></app-liste-filtre>
<app-show-date></app-show-date> -->
<!-- <app-magie></app-magie> -->
<!-- <app-user-card></app-user-card> -->
<!-- <app-generic-alert-button alertMessage="ping" buttonTitle="pong"></app-generic-alert-button>
<app-generic-alert-button alertMessage="marco" buttonTitle="polo"></app-generic-alert-button>
<app-generic-alert-button alertMessage="john" buttonTitle="doe"></app-generic-alert-button> -->
<!-- <app-button-menu></app-button-menu> -->
<!-- <app-time-city></app-time-city> -->
<!-- <app-composant-parent></app-composant-parent> -->
<!-- <app-exo-parent></app-exo-parent> -->
<!-- <app-liste-course></app-liste-course> -->
<!-- <app-reactive-form-module></app-reactive-form-module> -->
<!-- <app-exo-form></app-exo-form> -->
<!-- <app-table-users></app-table-users> -->
<!-- <app-exo-input-vendredi
  [titre]="'hello'"
  [buttonText]="'click'"
  [bg]="'text-bg-primary p-3'"
></app-exo-input-vendredi>
<app-exo-input-vendredi
  [titre]="hello"
  [buttonText]="'appuyer'"
  [bg]="'text-bg-success p-3'"
></app-exo-input-vendredi>
<app-exo-input-vendredi
  [titre]="hello"
  [buttonText]="'fermer'"
  [bg]="'text-bg-warning p-3'"
  [testEnfant]="test"
  (changeTest)="changeTest($event)"
></app-exo-input-vendredi> -->

<!-- <app-input-vendredi-parent></app-input-vendredi-parent> -->
<app-exoform-usercard-parent></app-exoform-usercard-parent>
<router-outlet />
