<form action="">
  <input type="text" name="joblabel" [(ngModel)]="showText">
</form>
<br>
<p>{{ showText }}</p>

<thead class="tableH">
  <tr>
    <th scope="col">id</th>
    <th scope="col">nom</th>
    <th scope="col">prenom</th>
    <th scope="col">age</th>
  </tr>
</thead>

@for (item of users; track $index) {

@if (item.isVisible) {
<table class="table">
  <tbody>
    <tr>
      <th scope="row">{{item.id}}</th>
      <td>{{item.nom}}</td>
      <td>{{item.prenom}}</td>
      <td>{{item.age}}</td>
      <td><app-exo-enfant [vue]="visible" (changeValue)="changeValue($event)"></app-exo-enfant></td>
      <!-- <td><button (click)="onClick(item)">delete</button></td> -->
    </tr>

  </tbody>
</table>

}

<!-- <app-exo-enfant [visible]="visible" (changeValue)="changeValue($event)"></app-exo-enfant> -->



}

<!-- <app-exo-enfant [visible]="visible" (changeValue)="changeValue($event)"></app-exo-enfant> -->